.menu {
  width: 85%;
}

.menu__ul {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 100%;
  list-style: none;
}

.menu__li {
  padding: 20px 60px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  transition: 0.4s;
}

.menu__li:hover {
  color: rgba(0, 0, 0, 0.7);
  background-color: rgb(250, 207, 213);
  text-decoration: none;
}

.menu__li--active {
  color: rgba(0, 0, 0, 0.9);
  font-weight: 600;
}
