@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"); /* Bootstrap */ 
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css"); /* Bootstrap Icons */

.footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282c34;
  }
