@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

body {
  margin: 0;
  font-family: 'Nunito',
    sans-serif !important;
    background-color: whitesmoke !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-delete, .btn-info, .btn-danger {
  color: black !important;
  background-color: lightpink !important;
  border-color: lightpink !important;
}

.btn-primary {
  color: white !important;
  background-color: #6c757d !important;
  border-color: #6c757d !important;
}